@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
  background-image: url("/background.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  padding: 50px 0;
}

.App {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_container {
  width: 100%;
  max-width: 464px;
 }
.title { 
  font-weight: 700;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 54px;
}
.quiz_modal { 
  margin-top: 10px;
  background-color: white;
  border-radius: 24px;
  padding: 32px 32px;
  position: relative;
}
.globe_img { 
  position: absolute;
  top: -90px;
  right: 0;
  max-width: 162px;
}
.questionFlag { 
  max-height: 54px;
  margin: 26px 0;
}
.question_text { 
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1D355D;
}
.quiz_option {
  margin: 25px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 56px;
  background: #FFFFFF;
  border: 2px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  cursor: pointer;
  color: rgba(96, 102, 208, 0.8);
 }

.quiz_option:hover {
  border-color: #F9A826;
  background-color: #F9A826;
  color: white;
}
.option_marker { 
  padding-left: 19px;
  font-size: 24px;
  line-height: 36px;
  color: inherit;
}
.option_text { 
  padding-left: 46px;
  font-size: 18px;
  line-height: 27px;
  color: inherit;
  text-align: left;
}

.option_icon {
  margin-left: auto;
  padding-right: 18px;
  display: flex;
}

.material-symbols-outlined {
  font-size: 28px;
}

.btn_next {
  display: block;
  background: #F9A826;
  padding: 15px 36px;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  border-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: white;
  margin-left: auto;
}
.prize_img {
  width: 238px;
  margin: 0 auto;
}
.results_title {
  margin-top: 77px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  
 }
.results_text { 
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #1D355D;
}

.correct_answers_num {
  color:#6FCF97;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.max_score_num {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.btn_try_again {
  margin-top: 70px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #1D355D;
  border-radius: 12px;
  background-color: transparent;
  padding:  18px 61px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
 }

 @media (max-width: 414px) {
  body {
    padding: 25px 10px;
  }

  .title { 
    font-size: 24px;
    line-height: 32px;
  }
 }